body{
    font-size:120%;
}
#lamp{
    float:right;
    height: 200px;
    width: 200px;
   
    border: medium solid gray;
}
#csv_area{
    float: right;
    
}
#csv{
    align-content:left; 
    
}
#msg{
    color: green;
}